@model MVC5Course.Models.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    @*使用 MVC 的範本，把某個 Model 的值轉成 Html 輸出*@
    @*自訂的 Template :
        於 View -> Shared 下面建立 DisplayTemplates 和 EditorTemplates 兩個子資料夾
        建立後於 EditorTemplates 下面新增 View (檔案名稱和 Model 一樣叫 Client)，Model 選 MVC5Course.Models.Client
        然後把下面 Edit 用到的 Model 所有欄位值標籤剪下貼到新的 View 上即可呈現自訂的 Editor View 內容(一樣會顯示 Model 內容值供編輯)
        最後在此頁上方加上 @Html.EditorForModel() 即可顯示
    *@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
