
@{
    ViewBag.Title = "File Upload Result";
}

<h2>@ViewBag.Title</h2>

@*如果有訊息，則顯示出來*@
@if (ViewBag.ResultMsg != null)
{
    @Html.Label("info",(string)ViewBag.ResultMsg, new { @class="text-info"})
}



